.company-history {
  padding: 2rem;
  text-align: center;
}

.history-buttons {
  margin-bottom: 2rem;
}

.history-buttons button {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  background-color: #009688;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px; /* 둥근 버튼으로 변경 */
}

.timeline {
  position: relative;
  width: 100%;
}

.timeline-event {
  position: relative;
  width: 45%; /* 박스 너비를 넓혀 글씨가 짤리지 않도록 조정 */
  padding: 2rem; /* 내부 여백을 늘려 글씨가 짤리지 않도록 조정 */
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 3rem; /* 요소 간 간격 추가 */
}

.timeline-event.left {
  left: 10%; /* 중앙 선에 더 가깝게 배치 */
  text-align: left;
}

.timeline-event.right {
  left: 45%;
  text-align: left;
}

.timeline-event .timeline-content {
  padding: 2rem;
  background-size: cover; /* 배경 이미지 크기 조절 */
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  text-align: left;
  width: 100%;
  border: 2px solid #009688; /* 민트색 테두리 */
}

.timeline-event.left .timeline-content {
  background-image: url('/public/left_leaf.png'); /* 왼쪽 나뭇잎 이미지 */
}

.timeline-event.right .timeline-content {
  background-image: url('/public/right_leaf.png'); /* 오른쪽 나뭇잎 이미지 */
}

.timeline-event h3 {
  margin: 0 0 1rem 0;
  color: #00796b; /* 진한 민트색 */
}

.timeline-event ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.timeline-event ul li {
  margin-bottom: 0.75rem; /* 리스트 항목 간 간격 조정 */
  position: relative;
  padding-left: 25px; /* 리스트 아이템에 여백 추가 */
  color: #004d40; /* 짙은 민트색 */
}

.timeline-event ul li:before {
  content: '•';
  position: absolute;
  left: 0;
  color: #009688; /* 민트색 */
}

/* Timeline vertical line */
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background: #009688;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .timeline-event {
      width: 80%;
  }

  .timeline-event.left, .timeline-event.right {
      left: 10%;
  }

  .timeline:before {
      left: 10%;
  }
}
